<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Michael's Personal Site</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/mike.png" alt="michael's profile picture"></td>
        <td><h1>Michael Ogujor</h1>
        <p><em>Founder of Macfedo World <strong><a href="https://www.macfedowears.com.ng">Macfedo Wears</a></strong>.</em></p>
        <p>I love Data Science and Web Development</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Books and Teaching</h3>
    <ul>
      <li>Python Programming Language for Beginners</li>
      <li>Machine Learning - Data Science</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2003-2004</td>
          <td>Store Supervisor at Linda Manufacturing Company</td>
        </tr>
        <tr>
          <td>2013-2018</td>
          <td>Inventory Manager at Konga Online Shopping Limited</td>
        </tr>
        <tr>
          <td>2019-2021</td>
          <td>Operations Manager at Karose Alliance Solutions</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>Data Science</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Music Directing</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="https://github.com/Ogujor1">Contact Me</a>


</body></html>